<header>
    <div class="container">
        <div class="header-display">
            <h1>Portal de Denúncias BSI</h1>
            <nav>
                <a class="btn btn-light" href="/">Inicio</a>
                <a class="btn btn-light" href="/comissao">Comissão</a>
                <a class="btn btn-light" href="/usuarios">Usuarios</a>
                 <a class="btn btn-light" href="/cadastro">Cadastrar</a>
            </nav>
        </div>
    </div>
</header>