<!DOCTYPE html>
<html>
    <head>
        <% include components/projectDefaultHead/projectDefaultHead %>
    </head>
    <body>
    <% include components/header/projectDefaultHeader %>
    <main>
        <% include components/flashMsg/messages.ejs %>
        <div class="dnone-sm-up">
            <% include components/relatorio/relatorioDenunciasAdminMobile.ejs %>
        </div>

        <div class="dnone-sm-down">
            <% include components/relatorio/relatorioDenunciasAdmin.ejs %>
        </div>
    </main>
        <% include components/footer/projectDefaultFooter %>

        <% include components/projectDefaultScripts/projectDefaultScripts %>
    </body>
</html>
