<footer>
    <div class="container">
        <div class="row footer-content">
            <div class="descricaoAJ col-md-3 col-12 mb-2">
                <h6 class="font-weight-bold">Universidade Federal do Estado do Rio de Janeiro</h6>
            </div>

            <div class="contatosAJ col-md-3 col-12">
                <h6 class="font-weight-bold">CONTATE-NOS</h6>
                <p><i class="fa fa-home mr-3"></i>Avenida Pasteur 458, Urca, Rio de Janeiro - RJ</p>
                <p><i class="fa fa-envelope mr-3"></i> nape@uniriotec.br</p>
            </div>

            <div class="col-md-3 col-12">
                <div class="logo">
                    <img src="/images/napeicon.jpg" alt="">
                </div>
            </div>


        </div>
    </div>
</footer>
