<div class="container espacamentoPadrao">
    <form action="/admin/cadastrousuario" method="POST" id="formCadastro" enctype="multipart/form-data">
        <div>
            <div class="form-group formatacao-formulario">
                <h2>Cadastro de Novos Membros</h2>
                <div class="row">
                    <div class="col-9 formDetalhe">
                        <div class="formLabelInputContainer">
                            <label for="nameMembroAdd">Nome</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="nameMembroAdd"
                                    placeholder="Nome Completo"
                                    name="nome">
                        </div>
                        <div class="formLabelInputContainer">
                            <label for="emailMembroAdd">Endereço de E-mail:</label>
                            <input
                                    type="email"
                                    class="form-control"
                                    id="emailMembroAdd"
                                    placeholder="Email"
                                    name="email">
                        </div>

                        <div class="formLabelInputContainer">
                            <label for="senha">Senha:</label>
                            <input
                                    type="password"
                                    class="form-control"
                                    id="senha"
                                    placeholder="Senha"
                                    name="senha">
                        </div>

                        <div class="formLabelInputContainer">
                            <label for="dataAniversario">Data de Nascimento:</label>
                            <input type="date" class="form-control" name="dataAniversario" id="dataAniversario">
                        </div>

                        <div class="formLabelInputContainer">
                            <label for="observacaoPublica">Observação:</label>
                            <textarea class="form-control" name="observacaoPublica" id="observacaoPublica">
                              </textarea>
                        </div>

                        <div class="formLabelInputContainer">
                            <button class="btn btn-primary mt-2" type="submit" id="submit">
                                <span class="btncadastrar">Cadastrar</span>
                            </button>
                        </div>
                    </div>

                    <div class="col-3">
                        <label>Foto do usuário</label>
                        <div  class=" text-center" >
                            <img src="../uploads/usuariosemfoto.png" alt="" id="previewImage">
                        </div>

                        <div class="input-group">
                            <input
                                    type="file"
                                    class="form-control-file"
                                    id="avatar"
                                    name="avatar"
                                    onchange="carregarPreview(event)"
                                    data-buttonText="teste">
                            <label class="custom-file-label" for="avatar" id="avatarLabel" style="overflow: hidden">Escolher Arquivo</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function carregarPreview(evt) {
        if(evt.target.files[0].size > 1000000) {
            document.getElementById("flashMsgContainer").innerHTML = "<div class='alert alert-danger alert-dismissible fade show'> Imagem muito grande. Por favor limite-se a 10MB. </div>";
            document.getElementById("submit").disabled = true;
        }
        else if (evt.target.files[0].type != "image/png" && evt.target.files[0].type != "image/jpeg") {
            document.getElementById("flashMsgContainer").innerHTML = "<div class='alert alert-danger alert-dismissible fade show'> O arquivo escolhido não é reconhecido como imagem. </div>";
            document.getElementById("submit").disabled = true;
        }
        else {
            document.getElementById("flashMsgContainer").innerHTML = "";
            document.getElementById("submit").disabled = false;
            document.getElementById("previewImage").src = URL.createObjectURL(evt.target.files[0]);
            document.getElementById("avatarLabel").innerHTML = evt.target.files[0].name;
        }
    }
</script>
