<div>
    <form action="/" method="POST" id="formDenuncia">
        <div class="form-group formatacao-formulario">
            <div class="formTitleHeader">
                <h2>FAÇA SUA RECLAMAÇÃO</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-12 formLabelInputContainer">
                    <legend>Descrição da sua Reclamação:</legend>
                    <textarea class="form-control"  name="descricao" id="textDenuncia" rows="9" required ></textarea>
                </div>

                <div class="col-md-6 col-12 formDetalhe">
                    <div class="formLabelInputContainer">
                        <legend>
                            Visibilidade da reclamação:
                            <a href="#" data-toggle="tooltip"
                                title="Ao optar por ‘Visível para o público,’  você permite que sua denúncia conste no
                                    relatório público de denúncias caso ela seja aprovada pela comissão para tal.">
                                <i class="fas fa-question-circle"></i>
                            </a>
                        </legend>

                        <p>
                            <input type="radio" name="visibilidade" id="publico" value="1" required />
                            <label for="publico">Visível para o público</label>

                        </p>
                        <p>
                            <input type="radio" name="visibilidade" id="privado"  value="0" required />
                            <label for="privado">Visível apenas para a comissão</label>
                        </p>
                    </div>

                    <div class="formLabelInputContainer">
                        <legend>Email:</legend>
                        <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" required />
                    </div>

                    <div class="formLabelInputContainer">
                        <input type="checkbox" name="termos" id="termosObrigatorio" required />
                        <label for="termosObrigatorio">Entendo a <a href="#" class="button-termos"
                                                                    data-toggle="modal"
                                                                    data-target="#termosDeUso">política de conduta</a> da comissão</label>
                    </div>

                    <div class="m-auto">
                        <button type="submit" class="btn btn-outline-primary">
                            Submeter Formulário
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </form>
</div>
