<title>Portal de Mediação de Conflitos BSI</title>
<link rel="shortcut icon" type="image/png" href="/images/bsiicone.png">
<link rel="stylesheet"
      type="text/css"
      href="/css/bootstrap.min.css">
<link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous">
<!-- TODO: Por precaução, devemos trazer o fontawesome para fora da CDN se possível -->
<link rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/main.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
